# This action builds an alerter container image.
#
# Container images are only marked as "latest" in GitHub Container Registry for pushes to `main` and tags (including release tags).
name: Docker build

# This action is triggered for every tag and workflow_dispatch.
on:
  push:
    tags:
      - "*"
  workflow_dispatch:

concurrency:
  group: docker-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# Incremental compilation here isn't helpful
env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always

jobs:
  # This will build container images
  docker-build:
    runs-on: ubuntu-24.04
    permissions:
      packages: write

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@49b3bc8e6bdd4a60e6116a5414239cba5943d3cf # v3.2.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@c47758b77c9736f4b2ef4073d4d51994fabfe349 # v3.7.1
        with:
          # Limit concurrency so it can complete with small official runners
          buildkitd-config-inline: |
            [worker.oci]
              max-parallelism = 1

      - name: Log into registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81 # v5.5.1
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/chain-alerter
          tags: |
            type=ref,event=tag
            type=ref,event=branch
            type=sha,format=long
          flavor: |
            latest=false
            suffix=

      - name: Build and push chain-alerter image
        uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75 # v6.9.0
        with:
          file: docker/alerter.Dockerfile
          # TODO: Add linux/amd64/v4 when runner supports it
          platforms: linux/amd64,linux/amd64/v2,linux/amd64/v3,linux/arm64
          pull: true
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
